# dependencies
node_modules/

# Next.js build output
.next/
out/

# env files — GİZLİ, asla GitHub'a gönderme
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db

.vercel
server.log
